.my-projects-title {
  font-size: 3rem;
  margin: 15px 0;
  padding: 20px;
}

body {
  background-color: black;
  color: azure;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.project-desc {
  padding-bottom: 50px;
  font-size: 1.3rem;
  max-width: 800px;
  margin: 0 auto;
}

.projects-container {
  text-align: center;
  padding: 20px;
}

.project-title {
  font-size: 1.8rem;
  margin: 20px 0;
  font-weight: bold;
}

.message {
  font-style: italic;
  font-size: 14px;
  padding: 15px;
  color: rgb(214, 214, 214);
}

button {
  border-radius: 30%;
  padding: 12px;
  font-weight: bold;
  color: white;
  background-color: darkseagreen;
  cursor: pointer;
}

button:hover {
  background-color: darkolivegreen;
  color: gray;
}

a {
  color: darkseagreen;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: darkolivegreen;
}

@media (max-width: 768px) {
  .my-projects-title {
    font-size: 2.5rem;
    padding: 10px;
  }

  .project-title {
    font-size: 1.5rem;
    margin: 15px 0;
  }

  .project-desc {
    padding-bottom: 35px;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .my-projects-title {
    font-size: 2rem;
    padding: 5px;
  }

  .project-title {
    font-size: 1.3rem;
    margin: 10px 0;
  }

  .project-desc {
    font-size: 1.1rem;
  }
}
