.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.popup-overlay.show {
  opacity: 1;
  visibility: visible;
}

.popup {
  background-color: darkslategray;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.popup.show {
  transform: scale(1);
}

.popup h2 {
  margin: 0 0 20px 0;
}

.popup label {
  display: block;
  margin: 10px 0px 5px;
  padding-right: 18px;
}

.popup input,
.popup textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup textarea {
  height: 70px;
}

.contact-form-submit-button {
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: darkseagreen;
  cursor: pointer;
  transition: background 0.2s;
  border: none;
}

.contact-form-submit-button:hover {
  background-color: rgb(100, 129, 100);
  color: rgb(212, 212, 212);
}

.contact-form-x-button {
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  z-index: 10;
  transition: background 0.2s, color 0.2s;
}

.contact-form-x-button:hover,
.contact-form-x-button:focus {
  background: none;
  color: #ff4d4f;
  outline: none;
}

.tick-icon {
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}

.x-icon {
  font-size: 40px;
  width: 40px;
  flex-shrink: 0;
}

.message-sent {
  font-size: 16px;
}

.contact-form-close-button {
  display: none;
}