.navbar {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    padding: 10px;
    background: #181a1f;
    color: white;
    z-index: 1000;
  }
}

.hamburger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: white;
  transition: 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: #181a1f;
  padding-top: 60px;
  transition: none;
  z-index: 1001;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
  cursor: pointer;
  color: white;
  transition: background 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.sidebar ul li:hover {
  background: #344150;
}

.sidebar ul li.category {
  color: gray;
  font-size: 0.9em;
}

.sidebar ul li.category:hover {
  text-decoration: none;
  background: none;
  cursor: default;
}

.sidebar ul li.active {
  background: #222b36;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .sidebar {
    left: -250px;
    transition: left 0.3s ease-in-out;
    width: 170px;
    background: #181a1f;
  }

  .sidebar.open {
    left: 0;
  }

  .navbar {
    padding: 10px;
  }

  .sidebar ul li.category {
    color: gray;
    font-size: 0.7em;
  }

  .hamburger {
    width: 25px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 160px;
  }

  .navbar {
    padding: 8px;
  }

  .sidebar ul li.category {
    color: gray;
    font-size: 0.6em;
  }

  .hamburger {
    width: 20px;
    height: 15px;
  }
}

.hamburger.mobile-only,
.overlay.mobile-only {
  display: none;
}

@media (max-width: 768px) {

  .hamburger.mobile-only,
  .overlay.mobile-only {
    display: block;
  }
}

.mobile-sidebar {}

@media (max-width: 768px) {
  .mobile-sidebar {
    left: -250px;
    transition: left 0.3s ease-in-out;
    width: 170px;
    background: #181a1f;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 10;
  }

  .mobile-sidebar.open {
    left: 0;
  }
}

.sidebar,
.mobile-sidebar {
  z-index: 1001;
}