.app-container {
  text-align: center;
  padding-bottom: 20px;
  overflow-x: hidden;
  margin-top: 20px;
}

.main-title {
  font-size: 4rem;
  margin: 20px 0;
  padding: 50px;
  white-space: normal;
}

.about-me-title {
  font-size: 3rem;
  margin: 15px 0;
  padding-bottom: 20px;
}

.intro-text {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: black;
  color: azure;
}

.projects-link {
  color: darkseagreen;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.projects-link:hover {
  color: darkolivegreen;
}

.prompt {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.tech-stack-explanation {
  font-size: 0.9rem;
  max-width: 800px;
  margin: 0 auto;
  color: rgb(218, 218, 218);
}

.fade-page {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.fade-page.visible {
  opacity: 1;
}

.glow-text {
  color: #fff;
  text-shadow:
    0 0 4px #7e91a5,
    0 0 6px #7e91a5;
  font-weight: bold;
}

@media (max-width: 768px) {
  .app-container {
    margin-top: 14px;
  }

  .glow-text {
    color: #fff;
    text-shadow:
      0 0 4px #7e91a5,
      0 0 6px #7e91a5,
      0 0 8px #7e91a5;
    font-weight: bold;
  }

  .main-title {
    font-size: 3rem;
    padding: 10px;
  }

  .about-me-title {
    font-size: 2rem;
  }

  .intro-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .app-container {
    margin-top: 12px;
  }

  .glow-text {
    color: #fff;
    text-shadow:
      0 0 4px #7e91a5,
      0 0 6px #7e91a5,
      0 0 8px #7e91a5;
    font-weight: bold;
  }

  .main-title {
    font-size: 2rem;
    padding: 5px;
  }

  .about-me-title {
    font-size: 1.5rem;
  }

  .intro-text {
    font-size: 1rem;
  }

  .prompt {
    font-size: 1rem;
  }
}
